/* Your updated CSS styles */
a {
    background-color: none;
    color: green;
    padding: 10px 0;
    /*text-align: right; Aligns the navigation links to the right */
    text-decoration: none;
}

.links {
    max-width: 1200px;
    margin: 5 auto;
    padding: 0 20px;
}

ul {
    list-style: lower-roman;
    margin: 0;
    padding: 0;
    text-align: right;
}

li {
    display: inline-block;
    margin-left: 20px;
}