/* Your updated CSS styles */
.h1 {
    text-align: center;
    background-color: none;
    color: green;
}
.main-navigation {
    background-color: none;
    color: green;
    padding: 10px 0;
    text-align: right; /* Aligns the navigation links to the right */
    text-size-adjust: 200px;
}

.nav-links li {
    display: inline-block;
    margin-left: 50px;
    text-size-adjust: 300px;
}
.nav-links a {
    color: green;
    text-decoration: none;
}

.bottom-links a {
    color: green;
    text-decoration: none;
}

.bottom-links {
    background-color: none;
    color: green;
    text-align: right;
    padding: 5px 0;
}

.bottom-links li {
    display: inline-block;
    margin-left: 20px;
}

img {
    border-radius: 100px;
    background-color: lightblue;
    width: 100px;
    height: 80px;
}

.image-one {
    border: none;
    height: 300px;
    width: 350px;
}

.image-two {
    height: 300px;
    width: 350px;
}
/* Your existing CSS styles */
