<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nyasa Esports</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
    <img src="https://raw.githubusercontent.com/chimwec/APP2/main/nlogo.jpeg?token=GHSAT0AAAAAACG2NJKMK54WI4A7RMSKWWNAZHRPFYA">
    {% block content %}

<nav class="main-navigation">
    <div class="nav-links">
    <ul>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('game') }}">Game</a></li>
        <li><a href="{{ url_for('news') }}">News</a></li>
    </ul>
    </div>
</nav>
<p>This is the first esports website in Malawi dedicated to all things esports</p>
<p>for more information please contact us</p><br>
<p>you can find the information on the bottom of the page</p>
<!-- The rest of your content -->

<footer class="bottom-links">
    <ul>
        <li><a href="contact">Contact</a></li>
    </ul>
</footer>
     {% endblock %}
</body>
</html>
