<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyasa Esports</title>
    <link rel="stylesheet" href="/static/css/main.css">
        <!-- ... your existing head content ... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

    
</head>
<body>
    <img src="https://raw.githubusercontent.com/chimwec/images/main/Nyasa_logo_300px.png">

    {% block content %}

    <form class="form" method="post" action="{{ url_for('index') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Login</button>
    </form>

<nav class="h1">
    <h1>NYASA ESPORTS</h1>
</nav>

<nav class="main-navigation">
    <div class="nav-links">
    <ul>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('game') }}">Game</a></li>
        <li><a href="{{ url_for('news') }}">News</a></li>
    </ul>
    </div>
</nav>
<nav class="p">
<p>This is the first esports website in Malawi dedicated to all things esports</p>
<p>for more information please contact us</p>
<p>you can find the information on the bottom of the page</p><br>
<!-- The rest of your content -->
</nav>
<div class="slider">

<div><img src="https://raw.githubusercontent.com/chimwec/images/main/nlogo.jpeg" class="image-one"></div>

<div><img src="https://raw.githubusercontent.com/chimwec/images/main/warrior.png" class="image-two"></div>

<div><img src="https://raw.githubusercontent.com/chimwec/images/main/firelogo.png" class="image-three"></div>
</div>



<footer class="bottom-links">
    <ul>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('follow_us') }}">follow us</a></li>
    </ul>
</footer>
     {% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>

   $(document).ready(function(){
    $('.slider').slick({
        autoplay: true,  // Enable autoplay
        autoplaySpeed: 2000,  // Set autoplay speed in milliseconds (2 seconds in this case)
        arrows: true,  // Enable navigation arrows
        infinite: true,  // Enable infinite loop
        speed: 500,  // Set transition speed in milliseconds
        slidesToShow: 1,  // Number of slides to show at a time
        slidesToScroll: 1  // Number of slides to scroll at a time
    });
});


</script>
     
</body>
</html>
