/* Your existing CSS styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
}
.nav-links a {
    color: aquamarine;
    font-family: shanti;
    font-size: medium;
}

img {
    margin: 60px 0 30px 0;
    width: 50px;
}
/* Your existing CSS styles */
